.custom-btn {
    color: #651F3F;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: raleway-semibold;
    background: #EEC8D9;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    &:hover{
        background-color: 0 0% 100%
      }
    svg{
        margin-left: 8px;
    }
    
  }