.section-contact{
  font-family: raleway;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
  h3{
    color: #f9f9f9;
    margin: 1rem;
    text-align: center;
  }
  &_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    column-gap: 10rem;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    &-form{
      display: flex;
      flex-direction: column;
      color: black;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      background-color: #f9f9f9;
      width: 35%;
      padding: 20px;
      @media (min-width: 320px) and (max-width: 768px) {
        width: 100%;
      }
      &-wrapper{
        display: flex;
        flex-direction: column;
        &-group {
          margin-bottom: 15px;
          label {
            display: block;
            margin-bottom: 5px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            color: #651F3F;
          }
          input, textarea {
            width: 100%;
            padding: 10px;
            border: 1.5px solid #EEC8D9;
            border-radius: 5px;
            background-color: #fff;
            color: #E5E7EB;
          }
        }

      }
      button{
        align-self: center;
      }
    }
    &-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        text-align: left;
        margin: 1.5rem 0;
        background: #f9f9f9;
        color: #651F3F;
        padding: 1rem;
        border-radius: 5px;
      }
    }
  }
  .alert-success{
    color: #FFFFFF;
    font-family: 'Raleway';
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    background: #d9eee1;
    margin-top: 20px;
  }
  .alert-error{
    color: #FFFFFF;
    font-family: 'Raleway';
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    background: #A13F12;
    margin-top: 20px;
  }
}