.navigation-section{ 
    background: #4747473d;
    padding: 0 2rem;
    @media (min-width: 320px) and (max-width: 768px) {
        padding: inherit;
    }
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        position: sticky;
        @media (min-width: 320px) and (max-width: 768px) {
            left:0;
            background: rgb(198 161 212);
        }
    &-nav{
        &-wrapper{
            display: flex;
            flex-direction: row;
            @media (min-width: 320px) and (max-width: 768px) {
                flex-direction: column;
                position: fixed;
                right: 0;
                top: 6.25rem;
                align-items: end;
                visibility: hidden;
                opacity: 0; 
                transition: opacity 0.3s ease-in-out;
            }
            &.is-open {
                visibility: visible; 
                opacity: 1;
                width: 100%;
                @media (min-width: 320px) and (max-width: 768px) {
                    background: rgb(198 161 212);
                    height: 45vh;
                }
            }
            &_link{
                display: flex;
                @media (min-width: 320px) and (max-width: 768px) {
                    display: block;
                    padding: 0.3rem;
                    font-size: 1rem;
                }
                a {
                    color: #faf4f4;
                    padding: 10px;
                    text-decoration: none;
                    display: inline-block;
                    padding: 15px 20px;
                    position: relative;
                    font-family: Raleway-semibold;
                    &-contact{
                        &:hover{
                            transform: scale(1.5);
                        }
                    }
                  }
                  a:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                  }
                  a:hover:after { 
                    width: 100%; 
                    left: 0; 
                  }
                  @media screen and (max-height: 300px) {
                      ul {
                          margin-top: 40px;
                      }
                  }
            }
        }
    }
    &-logo{
        height: 100px;
        width: auto;
        padding: 1rem;
    }
    &-burger{
        display: none;
        @media (min-width: 320px) and (max-width: 768px) {
            display: block;
            background: transparent;
            border: none;
            margin-top: -10px;
            padding: 1rem;
            svg{
                height: 25px;
            }
        }
    }
}
}